:root {
    --main-bg-color: #d1d1d1;
    --gray: #262626;
    --empty-box: #e8e8e8;
    --filled-box: #d1d1d1;
}

body {
    background: var(--main-bg-color);

    font-size: large;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -webkit-user-drag: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    user-drag: none;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    font-size: 100px;
    color: var(--gray);
    padding-top: 27vh;
}

.mine-icon {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
}

.button {
    width: 130px;
    height: 40px;
    background-color: transparent;
    outline: var(--gray) solid;
    border-radius: 6px;
    border: none;
    margin-right: 2vw;
    font-size: 120%;
    font-weight: normal;

    box-shadow: inset 0 0 0 0 var(--gray);
    transition: box-shadow .25s ease-in-out, color .25s ease-in-out;
}

.button:hover {
    box-shadow: inset 0 -40px 0 0 var(--gray);
    color: #ffffff;
}

.buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    height: auto;
}

.difficulty-buttons {
    padding-top: 5vh;
}

.how-to-play-button-container {
    justify-content: center;
    align-content: center;
    align-self: center;
    opacity: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

.how-to-play-button {
    width: 130px;
    height: 30px;
    font-size: 100%;
}

