:root {
    --main-bg-color: #d1d1d1;
    --empty-box: #e8e8e8;
    --filled-box: #d1d1d1;
    --box-size: 25px;
}

body {
    background: var(--filled-box);

    font-size: large;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    font-size: 100px;
    color: #262626;
    padding-top: 27vh;
}

.mine-icon {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
}

.difficulty-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.difficulty-button {
    width: 130px;
    height: 40px;
    background-color: transparent;
    outline: #262626 solid;
    border-radius: 6px;
    border: none;
    margin-right: 2vw;
    font-size: 120%;
    font-weight: normal;
}