.title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    font-size: 100px;
    color: #262626;
    padding-top: 27vh;
}

.mine-icon {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
}